html, body, div, h1, h2, p, a, img, ul, li, iframe {
	border: 0; font: inherit; margin: 0; padding: 0;
}

body {
	background: #345904;
	color: #222;
	font-family: 'museo-sans', sans-serif;
	line-height: 1.5
}

a {
	color: #b22;
	text-decoration: none;
}

p, iframe { margin: 0 0 1.5em; }
q {
	font-style: italic;
	quotes: none;
}

/* Typography
--------------*/
h1 {
	font-family: 'abril-fatface', serif;
	font-size: 32px;
	text-align: center;
}
h2, h3 { margin: 0 0 0.5em; }
h2 {
	font-family: 'abril-fatface', serif;
	font-size: 24px;
	font-weight: 400;
}
h2.strike { margin: 0; }
h3 {
	font-size: 20px;
	font-weight: 400;
}

ul {
	list-style: none;
	margin: 0 0 24px;
}
li {
	margin: 0 1em 1em;
	position: relative;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
img.fullWidth {
	left: calc(-5vw + 1px);
	max-width: 125%;
	position: relative;
}

/* Wrap
--------*/
.wrap {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1600px;
	overflow: hidden;
	padding: 24px 5% 1.5em;
}
body > .wrap { background: #fff; }

/* Footer, header
------------------*/
footer, header {
	box-sizing: border-box;
	color: #777;
	margin: 0 auto;
	max-width: 1600px;
	padding: 1em 5%;
}
footer a, header a { color: #ddd; }

/* Header
----------*/
header {
	background: rgba(0, 0, 0, 0.5);
	background-image: url(img/pool-min.jpg);
	background-size: cover;
	color: #fff;
	max-height: 1060px;
	min-height: 400px;
	text-align: center;
}
header h2 {
	text-align: center;
	text-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
}
header h3, h2.strike ~ h3 {
	font-size: 16px;
	margin: 0 0 2em;
}

/* Footer
----------*/
footer {
	background: #345904;
	color: #fff;
	position: relative;
}
footer h2 { color: #f6cb1e; }
footer p { max-width: 690px; }

/* Button
----------*/
.btn {
	border: 2px solid #b22;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px 8px 0;
	padding: 6px 1em;
}

/* Numbered list
-----------------*/
.numList {
	color: #345904;
	font-family: 'abril-fatface';
	font-size: 20px;
	line-height: 1.25;
}
.numList li {
	margin-bottom: 0;
	margin-left: 0.5em;
	padding: 0.5em 0 1em;
}
.numList li span {
	top: 0.2em;
	color: #ffe16a;
	font-size: 48px;
	margin-right: 0.25em;
	position: relative;
}
.numList li:not(:last-child)::after {
	background: #ddd;
	bottom: 0;
	content: '';
	height: 1px;
	left: 1.5em;
	position: absolute;
	width: 100px;
}

/* Callout
-----------*/
.callout {
	background: rgb(86, 131, 30, 0.1);
	overflow: hidden;
	margin: 1.5em 0 1.5em;
	padding: 1.5em 1.5em 1em;
}

/* Check availability button
-----------------------------*/
.checkAvail {
	display: block;
	font-size: 24px;
	margin: 2.5em 0 1em 37px;
	position: relative;
	z-index: 2;
}
.checkAvail:before {
	background: rgb(246, 203, 30, 0.25);
	border-radius: 50%;
	content: '';
	height: 75px;
	left: -37px;
	position: absolute;
	top: -20px;
	width: 75px;
	z-index: -1;
}

/* Gallery
-----------*/
.galleryWrap ul {
	font-size: 0;
	left: -5vw;
	max-width: 1600px;
	overflow: auto;
	position: relative;
	white-space: nowrap;
	width: 100vw;
}
.galleryWrap li {
	display: inline-block;
	margin: 0 2px 0 0;
	overflow: hidden;
	/* width: calc((100% - 4px) / 3); */
}
.galleryWrap li:last-child { margin: 0; }
.galleryWrap img {
	height: 320px;
}

/* Map
-------*/
#map {
	height: 320px;
	margin: 0 0 4em;
	max-width: 1360px;
}

/* Sections
------------*/
section { position: relative; }
.secCtrl {
	opacity: 0;
	transition: opacity 1s, transform 0.5s;
	transition-delay: 0.3s;
	transform: translate(0, 40px);
}
.secVisible {
	opacity: 1;
	transform: translate(0, 0);
}

/* Section 'pitch'
-------------------*/
.sectionPitch {}
.sectionPitch h2, .sectionPitch h3 {
	text-align: center;
}
.sectionPitch .callout p:first-child {
	color: #345904;
	font-family: 'abril-fatface';
	font-size: 18px;
}

/* Section 'design'
--------------------*/
.sectionDesign .pullImage {
	object-fit: cover;
	width: 100%;
}

/* Section 'social'
--------------------*/
.sectionSocial p {
	color: #345904;
	font-size: 20px;
	padding: 1.5em 5% 1em;
}

/* Section 'location'
----------------------*/
.sectionLocation h2 { color: #56831e; }

/*-------------+
| width: 600px |
+-------------*/
@media (min-width: 600px) {
	h1 { font-size: 3em; }
	#map { height: 400px; }
	.numList { font-size: 24px; }

	.sectionDesign .pullImage { width: auto; }
}

/*--------------+
| width: 1024px |
+--------------*/
@media (min-width: 1024px) {
	h1, h2 { font-size: 52px }
	h1, h2.strike { position: relative; }

	img {
		margin: 0;
		max-width: 100%;
		width: auto;
	}

	.wrap { padding-top: 2em }
	body > .wrap { padding-top: 72px; }

	/* Columns
	-----------*/
	.cols {
		columns: 2;
		column-gap: 4em;
		max-width: 860px;
	}

	header {
		height: 100vh;
		position: relative;
	}
	header h2 {
		font-size: 100px;
		left: 5%;
		line-height: 92px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 90%;
	}

	header:after {
		background: url(img/flowerHeader.png?bust=0) center no-repeat;
		background-size: contain;
		bottom: -50px;
		content: '';
		height: 186px;
		left: calc(50% - 160px);
		position: absolute;
		width: 320px;
	}

	header h1, h2.strike { top: -64px; }
	header h1:before, header h1:after,
	h2.strike:before, h2.strike:after {
		background-repeat: no-repeat;
		background-size: auto 100%;
		content: '';
		display: inline-block;
		height: 120px;
		position: relative;
		top: 64px;
		width: 280px;
	}
	header h1:before, h2.strike:before { background-position: right; }

	header h1:before {
		background-image: url(img/left_deco_white@2x.png);
		margin-right: 0.5em;
	}
	header h1:after {
		background-image: url(img/right_deco_white@2x.png);
		margin-left: 0.5em;
	}
	h2.strike:before {
		background-image: url(img/left_deco@2x.png);
		margin-right: 0.5em;
	}
	h2.strike:after {
		background-image: url(img/right_deco@2x.png);
		margin-left: 0.5em;
	}

	header h1 ~ h3,
	h2.strike ~ h3 {
		position: relative;
		top: -64px;
	}

	/* Map
	--------*/
	#map { height: 550px; }

	/* Numbered list
	-----------------*/
	.numList { overflow: hidden; }
	.numList li {
		float: left;
		font-size: 32px;
		margin: 0;
		padding: 4.5em 0 1em;
		text-align: center;
		width: 33.333%;
	}
	.numList li:nth-child(2) { width: 40%; }
	.numList li:first-child, .numList li:last-child { width: 30%; }
	.numList li:not(:last-child)::after {
		background: #ddd;
		content: '';
		height: 100px;
		left: auto;
		position: absolute;
		right: 0;
		top: 36px;
		width: 1px;
	}
	.numList li span {
		font-size: 112px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	/* Section 'pitch'
	-------------------*/
	.sectionPitch .pullImage {
		height: 700px;
		left: -5vw;
		margin-top: 4em;
		object-fit: cover;
		position: absolute;
		width: 50%;
	}
	.sectionPitch .callout {
		margin-bottom: 8em;
		padding-bottom: 3em;
		padding-right: 5.5em;
	}
	.sectionPitch .callout p {
		clear: both;
		float: right;
		width: 45%;
	}
	.sectionPitch .callout p:first-child {
		font-size: 32px;
		margin-top: 1.125em;
	}
	.sectionPitch .callout ~ p {
		color: #345904;
		font-size: 24px;
		margin: 0 auto 3em;
		max-width: 1024px;
		text-align: center;
	}

	/* Section 'social'
	--------------------*/
	.sectionSocial { margin-top: -20.5em; }
	.sectionSocial p {
		font-size: 24px;
		max-width: 920px;
	}

	/* Section 'design'
	--------------------*/
	.sectionDesign .pullImage {
		box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.5);
		left: calc(7.5% + 1.5em);
		position: relative;
		top: -8em;
	}
	.sectionDesign .callout {
		margin-top: 0;
		overflow: hidden;
		padding-bottom: 2em;
		padding-top: 3em;
		position: relative;
		top: -19.5em;
	}
	.sectionDesign .callout p:first-child {
		color: #345904;
		float: right;
		font-family: 'abril-fatface';
		font-size: 32px;
		margin-right: 7.5%;
		width: 40%;
	}
	.sectionDesign .callout p:last-child {
		float: left;
		margin: 12em 0 1em 7.5%;
		max-width: 460px;
		width: 40%;
	}

	.gallery1 { margin: 0 0 8em; }
	.gallery1 ul {
		height: 412px;
		left: 0;
		margin: 0 0 0 auto;
		max-width: 930px;
		overflow: hidden;
		width: 100%;
	}
	.gallery1 li {
		float: left;
		height: 50%;
		margin-bottom: 2px;
		width: 32%;
	}
	.gallery1 li img {
		height: 100%;
		width: 100%;
	}
	.gallery1 li:first-child {
		height: 100%;
		width: 66%;
	}
}

/*--------------+
| width: 1200px |
+--------------*/
@media (min-width: 1200px) {
	body { background: url(img/bg.png?bust=0) center; }
	header { min-height: 1060px; }
	footer { padding-top: 6em; }
	footer h2 {
		font-size: 80px;
		margin-bottom: 0.25em;
	}
	footer:before {
		background: url(img/emblishment@2x.png) center no-repeat;
		background-size: auto 100%;
		content: '';
		height: 185px;
		left: calc((100% - 922px) / 2);
		position: absolute;
		top: -130px;
		width: 922px;
	}
	footer:after {
		background-image: url(img/flower-min.png);
		/* background-position: 25px; */
		/* background-size: auto 100%; */
		bottom: -224px;
		content: '';
		height: 448px;
		position: absolute;
		right: 0;
		top: -11.5em;
		width: 423px;
		z-index: 200;
	}

	.galleryWrap li {
		width: calc((100% - 4px) / 3);
	}
	.galleryWrap img {
		object-fit: cover;
		width: 100%;
	}

	/* Section 'pitch'
	-------------------*/
	.sectionPitch .callout {
		margin-bottom: 14em;
		padding-right: 6em;
	}

	/* Section 'location'
	---------------------*/
	.sectionLocation {
		padding-top: 2em;
		position: relative;
		width: 100%;
	}
	.sectionLocation:after {
		background: #cadab5;;
		content: '';
		height: 1058px;
		left: 6.2em;
		position: absolute;
		top: 26em;
		width: 1px;
	}
	.sectionLocation #map {
		margin: 0 -5vw 2em auto;
		width: 80%;
	}
	.sectionLocation .cols {
		margin: 0 5% 4em auto;
	}
	.sectionLocation h2 {
		color: #56831e;
		font-size: 80px;
		left: -1em;
		position: absolute;
		top: 2em;
		transform: rotate(-90deg);
	}
}

/*--------------+
| width: 1600px |
+--------------*/
@media (min-width: 1600px) {
	header h1:before, header h1:after,
	h2.strike:before, h2.strike:after {
		height: 136px;
		top: 78px;
		width: 510px;
	}
	header h1:before,
	h2.strike:before {
		margin-right: 1em;
	}

	header h1:after,
	h2.strike:after {
		margin-left: 1em;
	}

	footer { padding-left: 10%; }
	footer:before {
		left: calc((100% - 1400px) / 2);
		width: 1400px;
	}
}